@import "tailwindcss";

@theme {
  --color-primary: #8B4513;
  --color-secondary: #6B8E23;
  --color-beige: #F5F5DC;
  --color-brown-dark: #2C1810;
}

/* Custom styles */
.htmx-indicator {
  display: none;
}

.htmx-request .htmx-indicator {
  display: inline-block;
}

.htmx-request.htmx-indicator {
  display: inline-block;
}
