@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom styles */
.htmx-indicator {
  display: none;
}

.htmx-request .htmx-indicator {
  display: inline-block;
}

.htmx-request.htmx-indicator {
  display: inline-block;
}
